## Sesi Pagi

 Membuat 3 OOP beserta turunannya dari objek sekitar

* Encapsulation

In [2]:
nama = "Latifah"
usia = 21
prodi = "Statistika"
fakultas = "FMIPA"

def data():
    print("Data Mahasiswa")

def data_mahasiswa(nama, usia, prodi, fakultas):
    print(f"nama: {nama}, usia: {usia}, prodi: {prodi}, fakultas: {fakultas}")

data_mahasiswa(nama, usia, prodi, fakultas)
data()

nama: Latifah, usia: 21, prodi: Statistika, fakultas: FMIPA
Data Mahasiswa

In [5]:
class Mahasiswa(object):
    
    nama_mahasiswa = ""
    def __init__(data, input_nama, input_usia, input_prodi, input_fakultas):
        data.nama = input_nama
        data.usia = input_usia
        data.prodi = input_prodi
        data.fakultas = input_fakultas
        Mahasiswa.nama_mahasiswa = input_nama
    
    def status(data):
        print("student....", data.nama)
    
    def info(data):
        print(f"nama : {data.nama}, usia: {data.usia}, prodi: {data.prodi}, fakultas: {data.fakultas}")
        
mahasiswa1 = Mahasiswa("Latifah", 21, "Statistika", "FMIPA")

print(mahasiswa1.info())
print(mahasiswa1.status())
print(mahasiswa1.prodi)

nama : Latifah, usia: 21, prodi: Statistika, fakultas: FMIPA
None
student.... Latifah
None
Statistika

* Inheritence

In [6]:
class UKM(object):
    def __init__(self, nama, periode, bidang, alamat):
        self.nama = nama
        self.periode = periode
        self.bidang = bidang
        self.alamat = alamat

    def __long(self, durasi):
        for x in range(durasi):
            print("ddrrr... ddrrr... ")

    def info(self):
        self.__long(2)
        print(f"nama: {self.nama}, periode: {self.periode}, bidang: {self.bidang}, alamat: {self.alamat}")

UKM1 = UKM("Pers", 2, "Bem Fakultas", "Jakal")

UKM1.info()

ddrrr... ddrrr...
ddrrr... ddrrr...
nama: Pers, periode: 2, bidang: Bem Fakultas, alamat: Jakal

In [7]:
class Departemen(UKM):
    def __init__(self, nama, periode, bidang, alamat, jabatan, masih_aktif):
        super().__init__(nama, periode, bidang, alamat)
        self.jabatan = jabatan
        self.masih_aktif = masih_aktif

    def status(self):
        super()._long(2)
        print("yaaaaaaa")

    def info_departemen(self):
        self.info()
        print(f"jabatan: {self.jabatan}, masih_aktif: {self.masih_aktif}")

departemen1 = Departemen("Pers", 2, "BEM Fakultas", "Jakal", "Kadif", True)

departemen1.info_departemen()
#departemen1.status()

ddrrr... ddrrr...
ddrrr... ddrrr...
nama: Pers, periode: 2, bidang: BEM Fakultas, alamat: Jakal
jabatan: Kadif, masih_aktif: True

* Abstraction

In [8]:
from abc import abstractmethod, ABC

In [9]:
class Absclass(ABC):
    #Method biasa
    def cetak(self,x):
        print("Passed value: ", x)
    
    #Abstract Method
    @abstractmethod
    def task(self):
        pass

        
class test_class(Absclass):
    def task(self):
        print("We are inside test_class task")

    def cetak2(self):
        print('a')
        
        
class example_class(Absclass):
    def task(self):
        print("We are inside example_class task")


#object of test_class created
test_obj = test_class()
test_obj.task()
test_obj.cetak(100)
test_obj.cetak2()


#object of example_class created
example_obj = example_class()
example_obj.task()
example_obj.cetak(200)
 
print("test_obj is instance of Absclass? ", isinstance(test_obj, Absclass))
print("example_obj is instance of Absclass? ", isinstance(example_obj, Absclass))

We are inside test_class task
Passed value:  100
a
We are inside example_class task
Passed value:  200
test_obj is instance of Absclass?  True
example_obj is instance of Absclass?  True

In [11]:
class MataKuliah(ABC):
    
    @abstractmethod
    def suara(self):
        pass
    
class DatViz(MataKuliah):
    def suara(self):
        print("Wihii")
        
class Kalkulus(MataKuliah):
    def suara(self):
        print("Allahuakbar")

In [13]:
DatViz1 = DatViz()

Kalkulus1 = Kalkulus()

DatViz1.suara()
Kalkulus1.suara()

Wihii
Allahuakbar

* Polymorphism

In [14]:
class planet(object):
  def __init__(self, nama, usia, lokasi):
    self.nama = nama
    self.usia = usia
    self.lokasi = lokasi


  def tidur(self, durasi):
    for x in range(durasi):
      print("ddrrr... ddrrr... ")

  def info(self):
    print(f"nama: {self.nama}, usia: {self.usia}, lokasi: {self.lokasi}")


class Bumi(planet):
  def __init__(self,  nama, usia, lokasi, warna, ada_manusia):
    super().__init__(nama, usia, lokasi)
    self.warna = warna
    self.ada_manusia= ada_manusia
  
  def manusia(self, durasi):
    print("yes... yes... ")

  def info_bumi(self):
    print(f"warna: {self.warna}, jada_manusia: {self.ada_manusia}")

class Saturnus(planet):
  def __init__(self, nama, usia, lokasi, warna, ciri2):
    super().__init__(nama, usia, lokasi)
    self.warna = warna
    self.ciri2= ciri2
  
  def makan_ayam(self, human):
    if human >=5 :
      print("kenyaang")
    else:
      print("lapaar")

bumi1 = Bumi("Bumi", 1000000, "ketiga terdekat dari matahari", "hijau", True)

bumi1.info()
bumi1.info_bumi()
bumi1.tidur(5)


satur1 = Saturnus("Saturnus", 20000000, "terdekat ke 6 dari matahari", "range","ada cincinnya")

satur1.info()
satur1.tidur(2)
satur1.makan_ayam(5)

nama: Bumi, usia: 1000000, lokasi: ketiga terdekat dari matahari
warna: hijau, jada_manusia: True
ddrrr... ddrrr...
ddrrr... ddrrr...
ddrrr... ddrrr...
ddrrr... ddrrr...
ddrrr... ddrrr...
nama: Saturnus, usia: 20000000, lokasi: terdekat ke 6 dari matahari
ddrrr... ddrrr...
ddrrr... ddrrr...
kenyaang

## Sesi Siang

In [16]:
import Operasi_Matematika as om

In [17]:
om.pertambahan(5,7)

12

In [18]:
om.pengurangan(9,4)

5

In [19]:
om.perkalian(3,7)

21

In [20]:
om.pembagian(9,3)

3.0